<h2>Welcome to Pizza!</h2>

<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-3">
		<div>
			<h2 style="color:#069"><%= p.title %></h2>
		</div>

		<div>
			<img  src="<%= p.path_to_image %>" />
		</div>

		<div>
			<%= p.description %>
			<br>
			Size: <%= p.size %>
		</div>

		<div>
			<h5> Price: <%= p.price %> rub </h5>
		</div>

		<div>
			<button class="btn btn-success btn-sm" onclick="add_to_cart()">Add to cart</button>
		</div>
	</div>
	<% end %>
</div>

<br>
<br>

<button class="btn btn-primary" onclick="something()">Click me!</button>	
